<section id="container">	
	<div class="panel">	
		<h1>
			ADMIN PANEL
		</h1>
		<table class="nav_bar">
			<td>
			<%= link_to "HOME PAGE", root_url %>
			</td>
			<td>
			<%= link_to "PHOTOS PAGE", photos_path %>
			</td>

		</table>
	</div>

	
		<table id="list">
			<thead>
			<th>IMAGE ID</th>
			<th>PHOTOGRAPH</th>
			<th>NAME</th>
			<th>LOCATION</th>
			<th>CONTACT INFORMATION</th>
			<th>PUBLISHED</th>
			</thead>
	
			<% @photos.each do |img| %>
				
				<tr id="<%= img.id %>">	
							<td>
								<%= img.id %>
							</td>
					
							<td>	
								<%= link_to image_tag("#{img.image}/convert?w=220&h=140&fit=scale"), photo_path(img) %>
							</td>
	
							<td>	
								<%= img.first_name %>
								<%= img.last_name %>
							</td>
							<td>	
								<li><%= img.city %></li>
								<li><%= img.country %></li>
							</td>
							<td>
								<li><%= img.email_address %></li>
								<li><%= img.website_url %></li>
								<li><%= img.twitter %></li>
							</td>
						
							<td class="publish">
								
								<%= link_to img.published? ? "Published" : "Pending", admin_photo_path(img), remote: true, class: "item #{'active' if img.published? }" %>
								
								

							</td>
						
				
				</tr>
			<% end %>	
		</table>	
		
	
</section>
