<ul> 

<% @photos.each do |img| %>
	<li>	
		<%= img.first_name %>
		<%= img.last_name %>
		<%= img.city %>
		<%= img.country %>
		<%= link_to image_tag(img.image, alt: img.first_name, width:"600", height:"250"), photo_path(img) %>
	</li>
	
	
	
<% end %>
	
</ul>	