
<section id="seven">
	
	<p>
		A project to collect and curate woodland<br> photography from around the world.
	</p>
	
</section>
	

<div id="list">
	
	<ul> 

	<% @photos.each do |img| %>
		<li>
			<div class="image">	
				<%= link_to image_tag("#{img.image}/convert?&h=450&fit=scale"), photo_path(img) %>
			</div>
			
			<div class="image_info">
				<h4>
					<%= img.first_name %>
					<%= img.last_name %>
				<br>			
					<span class="font"><%= img.country %></span>
				</h4>
			</div>	
		</li>
	
	
	<% end %>
	
	</ul>
	
	<%= will_paginate @photos %>
	
</div>	
