
<div id="image_container">

	<div id="single_img">

		<%= image_tag(@photo.image, alt:  @photo.first_name, class:"image_output", width:"840", height:"auto") %>
	</div>
		
	
	<div id="description">
		<h4>
			<%= @photo.first_name %> <%= @photo.last_name %>
		<br>
		<span class="font"><%=  @photo.country %></span>
		</h4>
	</div>

	
	<div id="navigation">
		<div class="previous">
			<%= link_to "<", photo_path(@previous) unless @previous.blank? %>
		</div>
		<div class="next">
			<%= link_to ">", photo_path(@next) unless @next.blank? %>
		</div>
		
	</div>
	


</div>