<!DOCTYPE html>
<html>
<head>
  <title>Forest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render "shared/one" %>
	<%= render "shared/two" %>
	<%= render "shared/three" %>
	<%= render "shared/four" %>
	<%= render "shared/five" %>
	<%= render "shared/six" %>
	<%= render "shared/footer" %>

</body>
</html>
